:root {
  --rich-black: #011627;
  --periwinkle: #B7C3F3;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  padding: 20px;
  display: flex;
  flex: 1;
}

header, footer {
  display: flex;
  height: 60px;
  background-color: var(--rich-black);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 12px;
}

header{
  font-size: 1.5rem;
  color: white;
}

footer{
  font-size: 1rem;
  color: rgb(148, 148, 148);
  align-items: center;
  justify-content: center;
}