main {
  justify-content: center;
  gap: 40px;
}

.container-upload{
  max-width: 800px;
  display: flex;
  flex: 7;
  flex-direction: column;
  gap: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}

.input{
  height: 50%;
  background-color: var(--periwinkle);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

/* form styling */
form {
  background: #F3E7B7;
  padding: 20px;
  border: 1px solid black;
  font-size: 1.5rem;
}

div .preview {
  background: white;
  margin: 10px 0px 10px;
  /* border: 1px solid black; */
}

form p {
  line-height: 32px;
  padding-left: 10px;
}

form label,
form button {
  background-color: var(--periwinkle);
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px ridge black;
  font-size: 1.2rem;
  font-weight:bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: auto;
}

form label:hover,
form button:hover {
  background-color: #2d5ba3;
  color: white;
}

form label:active,
form button:active {
  background-color: #0d3f8f;
  color: white;
}

input {
  opacity: 0;
}

.preview{
  width: 80%;
}

.definition {
  height: 80vh;
  overflow: scroll;
  padding: 10px;
  display: flex;
  flex-flow: column;
  gap: 10px;
  flex: 10;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.example {
  display: flex;
}

.example img {
  height: 220px;
}