{% extends "base_temp.html" %}

{% block css %}
  <link href="../static/index.css" rel="stylesheet">
{% endblock %}
{% block js %}
  <script src="../static/index.js" defer></script>
{% endblock %}

{% block main %}
<div class="container-upload">
  <div class="input drop_zone">Drop a File</div>
  <form method="post" enctype="multipart/form-data">
    <div>
      <label for="image_uploads">Choose image to upload (PNG, JPG)</label>
      <input
      type="file"
      id="image_uploads"
      name="file"
      accept=".jpg, .jpeg, .png"
      multiple />
    </div>
    <div class="preview input-file-name">
      <p>No files currently selected for upload</p>
    </div>
    <div class="preview input-file-size">
      <p></p>
    </div>
    <div>
      <button>Submit</button>
    </div>
  </form>
  
</div>
<div class="definition">
  <h2>What is Connected Component Labelling?</h2>
  <p>
    Shapiro et al.<a href="https://en.wikipedia.org/wiki/Connected-component_labeling#cite_note-:1-7">[7]</a> define CCL as an operator whose “input is a binary image and [...] output is a symbolic image in 
    which the label assigned to each pixel is an integer uniquely identifying the connected component to which that pixel belongs.”
  </p>
  <h2>Algorithm used in the project: </h2>
  <p>
    The two-pass algorithm,<a href="https://en.wikipedia.org/wiki/Connected-component_labeling#cite_note-Shapiro2002-13">[13]</a> (also known as the Hoshen–Kopelman algorithm) iterates through 2-dimensional binary data. 
    The algorithm makes two passes over the image: the first pass to assign temporary labels and record equivalences, and 
    the second pass to replace each temporary label by the smallest label of its equivalence class. 
  </p>
  <div class="example">
    <div>
      <img src="../images/step1.png">
      <img src="../images/step3.png">
    </div>
    <div>
      <img src="../images/step2.png">
      <img src="../images/step4.png">
    </div>
  </div>
  Sample graphical output from running the two-pass algorithm on a binary image. 
  The first image is unprocessed, while the last one has been recolored with label information. 
  Darker hues indicate the neighbors of the pixel being processed.
</div>
{% endblock %}
