<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Component Labeling</title>
  <script src="../static/index.js" defer></script>
  <link href="../static/index.css" rel="stylesheet">
</head>
<body>
  <header>Component Labeler</header>
  <main>
    <div class="container-upload">
      <div class="input drop_zone">Drop a File</div>
      <button class="upload">Upload an image</button>
    </div>
    <div class="container-download">
      <div class="output">Output Image</div>
    </div>
  </main>
  <footer></footer>
</body>
</html>